@model IEnumerable<Cinema.Models.Film>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Сайт кино</h1>
    <h4>Лучшие фильмы со всего мира для вас</h4>
</div>


<div class="container">
    <div class="row" style="display:flex; display:-webkit-flex; flex-wrap:wrap">


        @foreach (var item in Model)
        {
        
        <div class="col-sm-3" style="margin:1em">

            @if (item.Cover != null)
            {
                <img src="@Url.Action("GetImage", new {item.Id})" class="img-rounded" style="max-width:80%; height:auto;" />
            }

            <p>@Html.DisplayFor(modelItem => item.Title)</p>

            <button class="btn btn-default">
                <a href="@Url.Action("Details","Films", new { id = item.Id })">Details</a>
            </button>

            @* !!! *@
            @* @Html.ActionLink(item.Title, "Details", new { id = item.Id })  *@
            @* = Home/Details *@

        </div>
        }

    </div>

</div>
